html, body {
    padding: 0;
}
// Chrome版本过旧，提示框样式
.exporter-warn-tip {
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 9999;
    left: 0;
    bottom: 0;
    background-color: #fff7e6;
    user-select: none;
    box-sizing: border-box;
    padding: 0 30px;
    overflow: hidden;
    .close {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
    }
}